@using System.Globalization
@using Faceit_Stats_Provider.ModelsForAnalyzer;
@model Faceit_Stats_Provider.ModelsForAnalyzer.AnalyzerViewModel

@functions {
    public string CapitalizeFirstLetter(string input)
    {
        if (string.IsNullOrEmpty(input))
            return input;
        return input[0].ToString().ToUpper() + input.Substring(1).ToLower();
    }

    public double CalculateAverage(List<string> ratios)
    {
        if (ratios == null || ratios.Count == 0)
            return 0;
        var total = ratios.Select(ratio => double.Parse(ratio.Replace(",", "."), CultureInfo.InvariantCulture)).Sum();
        return total / ratios.Count;
    }

    public int CalculateTotalMatches(List<string> matches)
    {
        if (matches == null || matches.Count == 0)
            return 0;
        return matches.Select(match => int.Parse(match)).Sum();
    }

    public List<(double, bool)> CalculateMapAverageKD(List<(string playerId, AnalyzerMatchStats.Rootobject)> playerMatchStats, string map, List<string> playerIds)
    {
        var mapAverageKDs = new List<(double, bool)>();

        foreach (var playerId in playerIds)
        {
            var playerMatches = playerMatchStats
                .Where(p => p.playerId == playerId)
                .SelectMany(p => p.Item2.rounds)
                .Where(r => string.Equals(r.round_stats.Map, $"de_{map.ToLower()}", StringComparison.OrdinalIgnoreCase))
                .OrderByDescending(r => r.match_id)
                .Take(10)
                .ToList();

            foreach (var match in playerMatches)
            {
                var player = match.teams.SelectMany(t => t.players).FirstOrDefault(p => p.player_id == playerId);
                if (player != null && double.TryParse(player.player_stats.KDRatio.Replace(",", "."), NumberStyles.Any, CultureInfo.InvariantCulture, out double kd))
                {
                    // Determine if player was in the winning team
                    var winnerTeamId = match.round_stats.Winner; // Assuming Winner directly gives team_id
                    var isWinner = (winnerTeamId != null && IsPlayerInWinningTeam(match, player));

                    mapAverageKDs.Add((kd, isWinner));
                }
            }
        }

        return mapAverageKDs;
    }

    private bool IsPlayerInWinningTeam(AnalyzerMatchStats.Round match, AnalyzerMatchStats.Player player)
    {
        foreach (var team in match.teams)
        {
            foreach (var teamPlayer in team.players)
            {
                if (teamPlayer.player_id == player.player_id && team.team_id == match.round_stats.Winner)
                {
                    return true;
                }
            }
        }
        return false;
    }


    public double CalculateAverageKD(List<List<double>> mapAverageKDs)
    {
        if (mapAverageKDs == null || mapAverageKDs.Count == 0)
            return 0;

        int QuantityOfMatches = 0;
        double Avgkd = 0.00;

        foreach (var playerKD in mapAverageKDs)
        {
            foreach (var kd in playerKD)
            {
                QuantityOfMatches++;
                Avgkd += kd;
            }
        }

        if (QuantityOfMatches > 0)
        {
            Avgkd = Avgkd / QuantityOfMatches;
        }

        return Avgkd;
    }

    public double CalculateWinRatio(List<List<bool>> mapAverageKDs)
    {

        double wins = 0;
        double QuantityOfMatches = 0;


        foreach (var playerKD in mapAverageKDs)
        {
            foreach (var matchResult in playerKD)
            {
                QuantityOfMatches++;
                if (matchResult == true) {
                    wins++;
                }
            }
        }

        return  (wins/QuantityOfMatches)*100;
    }


}

<div class="container">
    <div class="row justify-content-center align-items-start">
        @{
            var faction1Leader = Model.Players.teams.faction1.leader;
            var faction1Players = Model.Players.teams.faction1.roster;
            var faction2Leader = Model.Players.teams.faction2.leader;
            var faction2Players = Model.Players.teams.faction2.roster;
            List<string> maps = new List<string> { "DUST2", "MIRAGE", "INFERNO", "NUKE", "VERTIGO", "ANCIENT", "ANUBIS" };

            var faction1PlayerStats = Model.PlayerStats.Where(ps => faction1Players.Any(p => p.player_id == ps.player_id)).ToList();
            var faction2PlayerStats = Model.PlayerStats.Where(ps => faction2Players.Any(p => p.player_id == ps.player_id)).ToList();

            var faction1MapStatsKD = maps.ToDictionary(map => map, map => new List<string>());
            var faction1MapStatsWR = maps.ToDictionary(map => map, map => new List<string>());
            var faction1MapStatsMatches = maps.ToDictionary(map => map, map => new List<string>());
            var faction2MapStatsKD = maps.ToDictionary(map => map, map => new List<string>());
            var faction2MapStatsWR = maps.ToDictionary(map => map, map => new List<string>());
            var faction2MapStatsMatches = maps.ToDictionary(map => map, map => new List<string>());

            var faction1PlayerIds = faction1Players.Select(p => p.player_id).ToList();
            var faction2PlayerIds = faction2Players.Select(p => p.player_id).ToList();

            foreach (var playerStat in faction1PlayerStats)
            {
                foreach (var segment in playerStat.segments.Where(s => maps.Contains(s.label.ToUpper())))
                {
                    faction1MapStatsKD[segment.label.ToUpper()].Add(segment.stats.AverageKDRatio);
                    faction1MapStatsWR[segment.label.ToUpper()].Add(segment.stats.WinRate);
                    faction1MapStatsMatches[segment.label.ToUpper()].Add(segment.stats.Matches);
                }
            }

            foreach (var playerStat in faction2PlayerStats)
            {
                foreach (var segment in playerStat.segments.Where(s => maps.Contains(s.label.ToUpper())))
                {
                    faction2MapStatsKD[segment.label.ToUpper()].Add(segment.stats.AverageKDRatio);
                    faction2MapStatsWR[segment.label.ToUpper()].Add(segment.stats.WinRate);
                    faction2MapStatsMatches[segment.label.ToUpper()].Add(segment.stats.Matches);
                }
            }
        }

        <div class="col-md-6">
            <p class="text-center title">Team @faction1Players.FirstOrDefault(p => p.player_id == faction1Leader)?.nickname</p> 

            <div class="row">

                <div class="col-md-12">
                    <p class="text-center subtitle">FAST CHOICE</p>
                </div>

                <div class="col-md-12">
                    <p class="text-center subtitle">OVERALL</p>

                    <div class="maps-container">
                        @{
                            foreach (var map in maps)
                            {
                                var mapName = CapitalizeFirstLetter(map.ToLower());
                                var averageKD = CalculateAverage(faction1MapStatsKD[map]);
                                var averageWR = CalculateAverage(faction1MapStatsWR[map]);
                                var totalMatches = CalculateTotalMatches(faction1MapStatsMatches[map]);
                                var mapAverageKDs = CalculateMapAverageKD(Model.PlayerMatchStats, map, faction1PlayerIds);
                                var AvgKd = CalculateAverageKD(mapAverageKDs.Select(kd => new List<double> { kd.Item1 }).ToList());
                                var winRatio = CalculateWinRatio(mapAverageKDs.Select(kd => new List<bool> { kd.Item2 }).ToList());
                        
                                <div class="OverallAnalyzeMap">
                                    <img src="~/Map_Icons/de_@(map.ToLower()).png" width="45" height="45" class="MapIcon" />
                                                                        <span class="OverallAnalyzerMapName">
                                                                            <span class="AnalyzerMapNameStyle">@mapName:</span>
                                                                            <span class="AnalyzerResultOverall" style="font-weight:bold;">@totalMatches</span> Matches,
                                                                            <span class="AnalyzerResultOverall" style="color:@(averageWR >= 50 ? "#6BBE49" : "#F20707")">@averageWR.ToString("F0")%</span>WR,
                                                                            <span class="AnalyzerResultOverall" style="color:@(averageKD >= 1.00 ? "#6BBE49" : "#F20707")">@averageKD.ToString("F2").Replace(",", ".")</span> K/D
                                                                        </span>
                                                                    </div>

                                                                        <div class="OverallLast20AnalyzeMap">
                                                                            <div style="width:45px; height:45px"></div>
                                                                            <span style="color:#5A0273; font-weight:bold;">Last 10:</span>

                                                                            <span class="AnalyzerResultOverallLast10">@mapAverageKDs.Count()</span><span>Matches,</span>

                                                                            <span class="AnalyzerResultOverallLast10" style="color:@(winRatio >= 50 ? "#6BBE49" : "#F20707")">@winRatio.ToString("F0").Replace(",", ".")%</span> <span>WR,</span>
                                                                            
                                                                                @if(AvgKd!=0.00){
                                                <span class="AnalyzerResultOverallLast10" style="color:@(AvgKd > 1.00 ? "#6BBE49" : "#F20707")">@AvgKd.ToString("F2").Replace(",", ".")</span>

                                                <span>K/D</span>
                                    }else{
                                                                                    <span class="AnalyzerResultOverallLast10" style="color:#F20707;">not found</span> 
                                                                }

                                   
                                                                        
                                                                        </div>                                      
                            }
                        }
                    </div>

                </div>
                <div class="col-md-12">
                    <p class="text-center subtitle">PLAYERS</p>
                    @foreach (var playerStat in faction1PlayerStats)
                    {
                        var player = faction1Players.FirstOrDefault(p => p.player_id == playerStat.player_id);

                        if (player != null)
                        {
                            <div class="PlayerAnalyzer player-info" data-player-id="@player.player_id">
                                <div class="PlayerAnalyzerContent">
                                    <img src="~/plus_green.png" alt="Plus-Icon" class="PlayerAnalyzeplus" />
                                    <span>@player.nickname</span>
                                </div>
                            </div>
                            <br />
                            <div class="PlayerMapsAnalyzer hidden" data-player-id="@player.player_id">
                                @{
                                    var displayedMaps = playerStat.segments
                                    .Where(map => map.mode == "5v5" && maps.Contains(map.label.ToUpper()))
                                    .OrderByDescending(x => x.label)
                                    .ToList();

                                    foreach (var map in displayedMaps)
                                    {
                                                                                                <div class="map-item">
                                                                                                    <img src="~/Map_Icons/de_@(map.label.ToLower()).png" width="45" height="45" class="MapIcon" />
                                                                                                    @map.label: <span class="AnalyzerResult" style="color:@(int.Parse(map.stats.WinRate) >= 50 ? "#6BBE49" : "#F20707")"><span style="color:#F2F2F2; font-weight:100;">@map.stats.Matches / </span>@map.stats.WinRate%</span> WR,
                                                                                                    <span class="AnalyzerResult" style="color:@(Math.Round(double.Parse(map.stats.AverageKDRatio.Replace(",", "."), CultureInfo.InvariantCulture), 2) >= 1.00 ? "#6BBE49" : "#F20707")">@map.stats.AverageKDRatio</span> K/D
                                                                                                </div>
                                                                                                <br />
                                    }

                                    if (displayedMaps.Count != 7)
                                    {
                                        for (int i = displayedMaps.Count; i < 7; i++)
                                        {
                                                                                                    <div class="map-item" style="height:55px;"></div>
                                                                                                    <br />
                                        }
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <p class="text-center title">Team @faction2Players.FirstOrDefault(p => p.player_id == faction2Leader)?.nickname</p>

            <div class="row">

                <div class="col-md-12">
                    <p class="text-center subtitle">FAST CHOICE</p>
                </div>


                <div class="col-md-12">
                    <p class="text-center subtitle">OVERALL</p>

                    <div class="maps-container">
                        @{
                            foreach (var map in maps)
                            {
                                var mapName = CapitalizeFirstLetter(map.ToLower());
                                var averageKD = CalculateAverage(faction2MapStatsKD[map]);
                                var averageWR = CalculateAverage(faction2MapStatsWR[map]);
                                var totalMatches = CalculateTotalMatches(faction2MapStatsMatches[map]);
                                var mapAverageKDs = CalculateMapAverageKD(Model.PlayerMatchStats, map, faction2PlayerIds);
                                var AvgKd = CalculateAverageKD(mapAverageKDs.Select(kd => new List<double> { kd.Item1 }).ToList());
                                var winRatio = CalculateWinRatio(mapAverageKDs.Select(kd => new List<bool> { kd.Item2 }).ToList());

                                                                                        <div class="OverallAnalyzeMap">
                                                                                            <img src="~/Map_Icons/de_@(map.ToLower()).png" width="45" height="45" class="MapIcon" />
                                                                                            <span class="OverallAnalyzerMapName">
                                                                                                <span class="AnalyzerMapNameStyle">@mapName:</span>
                                                                                                <span class="AnalyzerResultOverall" style="font-weight:bold;">@totalMatches</span> Matches, <span class="AnalyzerResultOverall" style="color:@(averageWR >= 50 ? "#6BBE49" : "#F20707")">@averageWR.ToString("F0")%</span> WR,
                                                                                                <span class="AnalyzerResultOverall" style="color:@(averageKD >= 1.00 ? "#6BBE49" : "#F20707")">@averageKD.ToString("F2").Replace(",", ".")</span> K/D
                                                                                            </span>
                                                                                        </div>

                                        <div class="OverallLast20AnalyzeMap">
                                            <div style="width:45px; height:45px"></div>
                                            <span style="color:#5A0273; font-weight:bold;">Last 10:</span>

                                            <span class="AnalyzerResultOverallLast10">@mapAverageKDs.Count()</span><span>Matches,</span>
                                            <span class="AnalyzerResultOverallLast10" style="color:@(winRatio >= 50 ? "#6BBE49" : "#F20707")">@winRatio.ToString("F0").Replace(",", ".")%</span> <span>WR</span>

                                            @if (AvgKd != 0.00)
                                    {
                                                <span class="AnalyzerResultOverallLast10" style="color:@(AvgKd > 1.00 ? "#6BBE49" : "#F20707")">@AvgKd.ToString("F2").Replace(",", ".")</span>

                                                <span>K/D</span>
                                    }
                                    else
                                    {
                                                <span class="AnalyzerResultOverallLast10" style="color:#F20707;">not found</span>
                                    }

                                   

                                        </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    <p class="text-center subtitle">PLAYERS</p>
                    @foreach (var playerStat in faction2PlayerStats)
                    {
                        var player = faction2Players.FirstOrDefault(p => p.player_id == playerStat.player_id);

                        if (player != null)
                        {
                            <div class="PlayerAnalyzer player-info" data-player-id="@player.player_id">
                                <div class="PlayerAnalyzerContent">
                                    <img src="~/plus_green.png" alt="Plus-Icon" class="PlayerAnalyzeplus" />
                                    <span>@player.nickname</span>
                                </div>
                            </div>
                            <br />
                            <div class="PlayerMapsAnalyzer hidden" data-player-id="@player.player_id">
                                @{
                                    var displayedMaps = playerStat.segments
                                    .Where(map => map.mode == "5v5" && maps.Contains(map.label.ToUpper()))
                                    .OrderByDescending(x => x.label)
                                    .ToList();

                                    foreach (var map in displayedMaps)
                                    {
                                                                                                <div class="map-item">
                                                                                                    <img src="~/Map_Icons/de_@(map.label.ToLower()).png" width="45" height="45" class="MapIcon" />
                                                                                                    @map.label: <span class="AnalyzerResult" style="color:@(int.Parse(map.stats.WinRate) >= 50 ? "#6BBE49" : "#F20707")"><span style="color:#F2F2F2; font-weight:100;">@map.stats.Matches / </span>@map.stats.WinRate%</span> WR,
                                                                                                    <span class="AnalyzerResult" style="color:@(Math.Round(double.Parse(map.stats.AverageKDRatio.Replace(",", "."), CultureInfo.InvariantCulture), 2) >= 1.00 ? "#6BBE49" : "#F20707")">@map.stats.AverageKDRatio</span> K/D
                                                                                                </div>
                                                                                                <br />
                                    }

                                    if (displayedMaps.Count != 7)
                                    {
                                        for (int i = displayedMaps.Count; i < 7; i++)
                                        {
                                                                                                    <div class="map-item" style="height:55px;"></div>
                                                                                                    <br />
                                        }
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.player-info').click(function () {
                var playerId = $(this).data('player-id');
                $('.PlayerMapsAnalyzer[data-player-id="' + playerId + '"]').toggleClass('hidden');
            });
        });
    </script>
}
